/* Base styles for the app. Add any global CSS customizations here. */

html, body, #root {
	height: 100%;
}

body {
	margin: 0;
	font-family: Poppins, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
	background-color: #f9fafb; /* Tailwind gray-50 */
	color: #111827; /* Tailwind gray-900 */
}

